h1 {
    text-align: center;
    color: white;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    ;
}
p {
    color: white;
}
body {
    background-color: #0d1117;
}